* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  width: 375px;
  height: 171px;
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  color: #5f564d;
}

main {
  padding: 0 32px;
}

.header {
  margin-bottom: 32px;
}
@media screen and (width >= 1140px) {
  .header {
    padding: 40px;
  }
}

.header-info {
  padding: 0 32px;
}

.margin-p {
  margin: 8px 0;
}

.regular {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

.bold {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}

.semibold {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: #854632;
}
h3 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: #7a284e;
  margin-block: 0;
}

.number-color ::marker {
  color: #7a284e;
  font-weight: 700;
}

.preparation-list {
  background-color: #fff7fb;
  padding: 24px;
  width: 311px;
  margin-block: 0;
  border-radius: 8%;
}

.nutrition-list {
  list-style: none;
}

.margin-nutrition {
  display: inline-block;
  width: 115px;
  margin-right: 16px;
}

.brown-line {
  background-color: #e3ddd7;
  position: relative;
  height: 1px;
  width: 311px;
}

.brown-line-nut {
  background-color: #e3ddd7;
  position: relative;
  height: 1px;
  width: 250px;
}
